{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="container">
        <div class="row align-items-center justify-content-center" style="width:100%">
            {% for item in listItem %}
                <div class="col mt-3" style="height:50vh">
                    <div class="card" style="width: 18rem;">
                    <img src="{{ item.imageUrl }}" class="card-img-top img-fluid" alt="..." style="height:300px; overflow:hidden;">
                    <div class="card-body" style="height:40%; overflow:hidden;">
                        <h5 class="card-title">{{ item.product_title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Seller: </b> <span style="color:midnightblue"></span> {{ item.seller }} </span></li>
                        <li class="list-group-item"><b>Default Bid:</b> &#36; {{ item.initialBid}}</li>
                        <li class="list-group-item"><b>Current Bid:</b> &#36;{{ item.bid.last_bid }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ item.id }}" class="card-link"> Go to Product Page </a>
                    </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>


{% endblock %}