{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="container">
        <div class="row align-items-center justify-content-center" style="width:100%">
            {% for item in listItem %}
                <div class="col mt-3">
                    <div class="card" style="width: 18rem;">
                    <img src="{{ item.imageUrl }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product_title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Seller: </b>{{ item.seller }}</li>
                        <li class="list-group-item">Default Bid: {{ item.id.default_bid}}</li>
                        <li class="list-group-item">Current Bid:{{ item.id.last_bid }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">here goes the url of the item page </a>
                    </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>


{% endblock %}