
<!-- this is the html layout for the my listing page which shows the list of item that the current user -->
<!-- has put the listing onthe website  -->


{% extends "auctions/layout.html" %}

{% block title %}
  My Listings
{% endblock %}
{% block body %}
<div class="container-xxl mt-6">
    <h1 class="display-5 text-muted"> My Listings </h1>
    <hr>
    <div class="row p-2 justify-content-center">
        {% for item in list %}
          <div class="card m-3" style="max-height:250px">
            <div class="row g-0" style="height:250px; overflow: hidden;">
              <div class="col-4" style="height:250px;">
                <img src="{{ item.imageUrl }}"  class="img-fluid rounded-start" alt="..." style="height:250px; object-fit: cover">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title text-truncate">{{item.product_title}}</h5>
                  <p class="card-text text-truncate"> {{item.description}} </p>
                  <p class="card-text text-truncate">$ {{item.bids.last_bid }}</p>
                  <p class="card-text "><small class="text-body-secondary"><a href="{% url 'product_page' item.id%}" class="btn btn-primary btn-small">Go to Product Page </a></small></p>
                   <p>

                    <form action="{% url 'bidding_view' item.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" value="closeButton" class="btn btn-danger"> Close This</button>
                    </form>
                    
                   </p> 

                </div>
              </div>
            </div>
          </div>


        {% endfor %}
    </div>
</div>
{% endblock %}


