{% extends "auctions/layout.html" %}

{% block body%}
    <div class="container">
        <div class="row">
            <div class="col-lg" style="height:auto">
 
                <img src="{{ product_info.imageUrl }}" alt="image" class="img-fluid rounded" style="min-width:400px" class="img-fluid">
            </div>
            <div class="col align-items-center" style>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b> {{ product_info.product_title }}</b></li>
                    <li class="list-group-item"><b>Description: {{ product_info.description }}</b></li>
                    <li class="list-group-item"><b>Seller: </b> {{ product_info.seller}}</li>
                    <li class="list-group-item"><b>Starting Bid: </b> {{ product_info.bids.initialBid }} </li>
                    <li class="list-group-item"><b>Current Bid: </b> {{ product_info.bids.last_bid }} {{ product_info.bids.last_bidder }} </li>
                </ul>
                <div class="form-check">
                    <form action="{% url 'watchList' product_info.id %}" method="POST" id ="watchlistForm">

                        {% csrf_token %}
                        {{ add_watchlist }}
                        <label for="addToWatchlist" class="form-control-label">add to watchlist</label>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row mt-2">
            <!-- comment -->
            <div class="col-lg">
                <h2 class="mt-2">Comment here </h2>
                <hr>
                <form action="{% url 'commentMade' product_info.id %}" method="POST">
                    {% csrf_token %}
                    {{formComment}} 
                    <button type="submit" class="form-control btn-primary mt-2">Post</button>
                </form>
            </div>
            <!-- comments List -->
            <div class="col-lg">
                <h2 class="mt-2">Comments So Far..</h2>
                <hr>
                <div class="list-group">
                    {% for comment in display_comments %}
                        <p>{{ comment.title }}</p>
                        <p>{{ comment.msg }}</p>
                        <hr>
                    {% endfor %}
                </div>
            <!-- commentList -->
        </div>
    </div>
    <script>
        function watchlist(){
            document.getElementById("watchlistForm").submit();
        }
    </script>
{% endblock %}